<template>
  <h3>PAGINA PRINCIAL</h3>
  <span><br>Esto es una test utilizando </span> 
   <img alt ="Vue logo" src="@/assets/logo.png">
  <div>
  <h4 v-if="user"><br> Hola ,{{user.first_name}}  {{user.last_name}}<br>
  Estas logeado</h4>
  
  <h4 v-if="!user"><br>Aun no esta logeado</h4>

  </div>
  

</template>

<script>

    import { mapGetters } from 'vuex'
     export default{
        name: 'Home_1',
        //props: ['user'],
          computed: {
            ...mapGetters(['user'])
          }
    }
</script>