<template>
    <form @submit.prevent="handleSubmit">
        <h3>Login</h3>

        <div class="form-group">
            <label> Email</label>
            <input type="email" class="form-control" v-model="email" placeholder="Email"/>

        </div>

         <div class="form-group">
            <label> Password</label>
            <input type="password" class="form-control" v-model="password" placeholder="Password"/>

        </div>

        <button class="btn-primary btn-block">Login</button>


    </form>
</template>

<script>

    import axios from 'axios'

    export default{
        name : 'Login_1',

        data(){
            return {
                email:'',
                password:''
            }
        },
        methods :{
            async handleSubmit(){
                const response = await axios.post('login',{
                    email: this.email,
                    password: this.password
                });
                console.log('you are login');
                localStorage.setItem('token',response.data.token);
                
                this.$store.commit('user',response.data.user);
                
                this.$router.push('/');

            }
        }
    }
</script>