<template>
  <div id="app">
    <Navigation_2  />
  <div class="au-wrapper">
    <div class="au-in">
        <router-view />
    </div>
  </div>
</div>
  
</template>

<script>

 import Navigation_2 from './components/Navigation.vue'
 import axios from 'axios'

 
export default {
    name:'App' , 
    components: {
      Navigation_2,
    }
    ,
       /*  data(){
            return{

                user : null
            }
        }, */


        async created() {
            const response = await axios.get('user');
            this.$store.dispatch('user',response.data);

            //this.user = response.data;

        }
    
}
</script>

<style>

body{
  background: rgb(157, 239, 249);
  min-width: 100vh;
 

  
}
#app {
  text-align: center;
}


.au-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 55px;
}
.au-wrapper  h3{
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;

}
.au-in{
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58,0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;

}

.au-wrapper .form-control :focus{
  border-color: #167b;
  box-shadow: none;

}


</style>
